@import url('https://fonts.googleapis.com/css?family=Josefin:wght@400;700&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2rem;
    text-transform: uppercase;
}

h2 {
    font-size: 1.1rem;
    text-transform: uppercase;
    border-top: 1px solid #888;
    border-bottom: 1px solid #888;
    padding: 0.75rem 0;
    margin-bottom: 2rem;
}

h3 {
    font-size: 1rem;
    text-transform: uppercase;
    color: salmon;
    margin-bottom: 1rem;
}

p {
    line-height: 1.5;
}

section + section {
    margin-top: 2rem;
}

a {
    text-decoration: none;
    color: inherit;
}

li +li {
    margin-top: 1rem;
}

ul {
    list-style: none;
}
 
body {
    font-family: 'Josefin', sans-serif;
    background-color: #555;
    padding: 2rem 2.5rem;
    line-height: 1.5;
    margin: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}


.nav {
    position: fixed;
    background-color: #222;
    top: 0;
    left: 0;
    right: 0;
    transition: all 0.3s ease-in-out;
}

.nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    transition: all 0.3s ease-in-out;
}

nav ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
}

.nav a {
    color: #fff;
    text-decoration: none;
    padding: 7px 15px;
    transition: all 0.3s ease-in-out;
}

.nav.active {
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.nav.active a {
    color: #000;
}

.nav.active .container {
    padding: 10px 0; 
}

.nav a.current, .nav a:hover {
    color: yellow;
    font-weight: bold;
}

.hero {
   background-image:url('https://images.unsplash.com/photo-1499951360447-b19be8fe80f5?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80');
   background-repeat: no-repeat;
   background-size: cover;
   background-position: bottom center; 
   height: 100vh;
   color: #222;
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
   margin-bottom: 10px;
   z-index: -2;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.resume {
    background: #fff;
    display: grid;
    grid-template-columns: 50% 1fr;
    grid-gap: 4 rem;
    list-style: none;
    padding: 2rem;
}


.profile {
    text-align: center;
}

.profile img {
    border-radius: 8888px;
    width: 15rem;
    height: 15rem;
}

.profile p {
    color: #888;
    margin-bottom: 1.5rem;
    font-size: 1.25rem;
    text-align: center;
    line-height: o.5;
    margin: 0;
}
.contact {
    padding-top: 1.5rem;
}
.contact ul {
    margin-top: -2rem;
}

.contact li {
    text-align: right;
    text-transform: uppercase;
    padding: 0.5rem;
    color: #888;
    font-size: 12px 
}

.work.exprience {
    padding: 2rem;
}

.hero h1 {
    font-size: 46px;
    margin: -20px 0 20px;
}

.hero p {
    font-size: 20px;
    letter-spacing: 1px;
}

.content h2, 
.content h3 {
    font-size: 150%;
    margin: 20px 0;
}

.content p {
    color: #fff;
    line-height: 30px;
    letter-spacing: 1.2px;
}


 
